*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #111;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.row_poster, .row_posterLarge
{
    margin-right: 10px;
}

.row_posterLarge
{
    cursor: pointer;
    transition: transform 450ms;
    height: 250px;
}

.row_poster
{
    height: 150px;
    transition: transform 450ms;
    cursor: pointer;
}

.row_posters
{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
}

.row_posters::-webkit-scrollbar
{
    display: none;
}

.row
{
    margin-left: 20px;
}

.row_poster:hover
{
    transform: scale(1.07);
}


.row_posters
{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
}

.row_posterLarge:hover
{
    transform: scale(1.07);
}

.banner
{
    height:450px;
    background-image: url('./images__final/banner.jpg');
    background-size: cover;
    background-position: center center;
    padding-top: 140px;
}

.contents
{
    margin-left: 30px;
}

.banner_title
{
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.banner_title>h1
{
    font-weight: 700;
}

.banner_button
{
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: rgba(51,51,51,.5);
    border: none;
    outline: none;
    transition: 1s all;
    color: whitesmoke;
}

.banner_button:hover
{
    background-color: #e6e4e4;
    color: black;
    cursor: pointer;
}

.banner_description
{
    width: 250px;
    padding-top: 30px;
}

.banner_description>p
{
    font-size: .9rem;
    line-height: 1.2;
}

.fade_effect{
    height:7.8rem;
    background-image:linear-gradient(180deg,transparent,rgba(51,51,51,.5),#111) ;
}

.top
{
    background-color: rgb(22, 22, 22);
    width:100%;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.top_logo
{
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}


